{% extends 'layout.html.twig' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {{ dump(app.user) }}

    <!-- Hero Slider -->
    <section class="hero-wrap text-center relative">
        <div id="owl-hero" class="owl-carousel owl-theme light-arrows slider-animated">
            {% for slide in slides %}
                <div class="hero-slide overlay" style="background-image:url({{ slide.image }})">
                    <div class="container">
                        <div class="hero-holder">
                            <div class="hero-message">
                                <h1 class="hero-title nocaps">{{ slide.title }}</h1>
                                <h2 class="hero-subtitle lines">{{ slide.subtitle }}</h2>
                                <div class="buttons-holder">
                                    {% for key, link in slide.links %}
                                        <a href="{{ link.href }}" class="btn btn-lg btn-color"><span>{{ link.title }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section> <!-- end hero slider -->

    <!-- Trendy Products -->
    <section class="section-wrap-sm new-arrivals pb-50 mt-50">
        <div class="container">

            <div class="row heading-row">
                <div class="col-md-12 text-center">
                    <span class="subheading">Des vêtements et de la mode</span>
                    <h2 class="heading bottom-line">
                        Les Nouveautés
                    </h2>
                </div>
            </div>

            <div class="row items-grid">

                {% for product in products %}
                    <div class="col-md-3 col-xs-6">
                        <div class="product-item hover-trigger">
                            <div class="product-img">
                                <a href="#">
                                    <img src="{{ asset('img/shop/' ~ product.category.slug ~ '/' ~ product.image) }}"
                                         alt="{{ product.name }}">
                                </a>
                                <div class="hover-overlay">
                                    <div class="product-actions">
                                        <a href="javascript:void(0)" class="product-add-to-wishlist">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="product-details valign">
                                      <span class="category">
                                        <a href="{{ url('zenna_category', { 'category' : product.category.slug }) }}">{{ product.category.name }}</a>
                                      </span>
                                        <h3 class="product-title">
                                            <a href="{{ path('zenna_product', {
                                                'id' : product.id,
                                                'category' : product.category.slug,
                                                'slug' : product.slug
                                            }) }}">{{ product.name }}</a>
                                        </h3>
                                        <span class="price">
                                            <ins>
                                              <span class="amount">{{ product.price }} &euro;</span>
                                            </ins>
                                          </span>
                                        <div class="btn-quickview">
                                            <a href="{{ path('zenna_product', {
                                                'id' : product.id,
                                                'category' : product.category.slug,
                                                'slug' : product.slug
                                            }) }}" class="btn btn-md btn-color">
                                                <span>Aperçu</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div> <!-- end row -->
        </div>
    </section> <!-- end trendy products -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
