{% extends 'layout.html.twig' %}

{% block page_title %}
    {{ product.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ render(controller('AppBundle:Zenna\\Zenna:breadcrumb', {
        'title' : product.name,
        'links' : [
            { 'title' : product.category.name, 'category' : product.category.slug },
        ]
    })) }}
{% endblock %}

{% block content %}
    <!-- Single Product -->
    <section class="section-wrap pb-40 single-product">
        <div class="container-fluid semi-fluid">
            <div class="row">

                <div class="col-md-6 col-xs-12 product-slider mb-60">

                    <div class="flickity flickity-slider-wrap mfp-hover" id="gallery-main">

                        <div class="gallery-cell">
                            <a href="{{ asset('img/shop/' ~ product.category.slug ~ '/' ~ product.image) }}" class="lightbox-img">
                                <img src="{{ asset('img/shop/' ~ product.category.slug ~ '/' ~ product.image) }}" alt="" />
                                <i class="ui-zoom zoom-icon"></i>
                            </a>
                        </div>

                    </div> <!-- end gallery main -->

                    <div class="gallery-thumbs">
                        <div class="gallery-cell">
                            <img src="{{ asset('img/shop/' ~ product.category.slug ~ '/' ~ product.image) }}" alt="" />
                        </div>
                    </div> <!-- end gallery thumbs -->

                </div> <!-- end col img slider -->

                <div class="col-md-6 col-xs-12 product-description-wrap">
                    <h1 class="product-title">{{ product.name }}</h1>
                    <span class="price">
                        <ins>
                          <span class="amount">{{ product.price }} &euro;</span>
                        </ins>
                    </span>
                    <span class="rating">
              </span>
                    <p class="short-description">
                        {{ product.intro }}
                    </p>

                    <div class="product-actions">
                        <span>Qté:</span>

                        <div class="quantity buttons_added">
                            <input type="number" step="1" min="0" value="1" title="Qty" class="input-text qty text" />
                            <div class="quantity-adjust">
                                <a href="#" class="plus">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a href="#" class="minus">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                        </div>

                        <a href="#" class="btn btn-dark btn-lg add-to-cart"><span>Ajouter au Panier</span></a>
                    </div>


                    <div class="product_meta">
                        <span class="brand_as">Categorie: <a href="{{ url('zenna_category', { 'category' : product.category.slug }) }}">{{ product.category.name }}</a></span>
                    </div>

                    <!-- Accordion -->
                    <div class="panel-group accordion mb-50" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="minus">Description<span>&nbsp;</span>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    {{ product.description }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="socials-share clearfix">
                        <span>Partager :</span>
                        <div class="social-icons nobase">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div> <!-- end col product description -->
            </div> <!-- end row -->

        </div> <!-- end container -->
    </section> <!-- end single product -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
