<li><a href="{{ path('zenna_category', { 'category' : 'nouveautes' }) }}">Nouveautés</a></li>

<li class="dropdown">
    <a href="javascript:void(0)">Mode & Accessoires</a>
    <i class="fa fa-angle-down dropdown-trigger"></i>
    <ul class="dropdown-menu">
        <li><a href="{{ path('zenna_category', { 'category' : 'chemisier-tuniques' }) }}">Chemisiers / Tuniques</a></li>
        <li><a href="{{ path('zenna_category', { 'category' : 'robes' }) }}">Robes</a></li>
        <li><a href="{{ path('zenna_category', { 'category' : 'pantalons' }) }}">Pantalons</a></li>
        <li><a href="{{ path('zenna_category', { 'category' : 'jeans' }) }}">Jeans</a></li>
        <li><a href="{{ path('zenna_category', { 'category' : 'jupes' }) }}">Jupes</a></li>
        <li><a href="{{ path('zenna_category', { 'category' : 'combinaisons' }) }}">Combinaisons</a></li>
    </ul>
</li>

<li><a href="{{ path('zenna_category', { 'category' : 'promotions' }) }}">Promotions</a></li>

<!-- end elements -->

<li class="mobile-links hidden-lg hidden-md">
    <a href="#">Mon Compte</a>
</li>